[viewBag]
==
<div class="container-fluid partial-jameda-widget-footer">
  <div class="row">
    <div class="col-12 px-0">
      {# Only visible on small devices #}
      <div class="d-block d-sm-none my-2 mx-auto">
        {# Skript siehe partials/jameda_widget_portrait.htm - geladen wird es
           genau einmal, vom ReviewWidgetService nach Einwilligung. #}
        <div class="jameda-embed">
          <a id="zl-url" class="zl-url"
          href="https://www.jameda.de/sabine-berndt-bartel/heilpraktiker-fuer-psychotherapie/cuxhaven" rel="nofollow"
          data-zlw-doctor="sabine-berndt-bartel" data-zlw-type="big_with_calendar" data-zlw-opinion="false"
          data-zlw-hide-branding="true" data-zlw-saas-only="false"
          data-zlw-a11y-title="Widget zur Arztterminbuchung">Sabine
          Berndt-Bartel - jameda.de</a>
        </div>
        {% partial 'jameda_widget_consent' %}
      </div>

    </div>
  </div>
</div>