[viewBag]
==
<div class="container-fluid partial-jameda-widget-footer">
  <div class="row">
    <div class="col-12 px-0">
      {# Only visible on small devices #}
      <div class="d-block d-sm-none my-2 mx-auto">
        <a id="zl-url" class="zl-url"
          href="https://www.jameda.de/sabine-berndt-bartel/heilpraktiker-fuer-psychotherapie/cuxhaven" rel="nofollow"
          data-zlw-doctor="sabine-berndt-bartel" data-zlw-type="big_with_calendar" data-zlw-opinion="false"
          data-zlw-hide-branding="true" data-zlw-saas-only="false"
          data-zlw-a11y-title="Widget zur Arztterminbuchung">Sabine
          Berndt-Bartel - jameda.de</a>
        <script>!function ($_x, _s, id) { var js, fjs = $_x.getElementsByTagName(_s)[0]; if (!$_x.getElementById(id)) { js = $_x.createElement(_s); js.id = id; js.src = "//platform.docplanner.com/js/widget.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "zl-widget-s");</script>
      </div>

    </div>
  </div>
</div>