[viewBag]
snippetCode = "pdf-forms"
snippetName = "PDF Forms"
==
<style>

    textarea {
        width: 100%;
        min-height: 100px;
        resize: vertical;
    }

</style>

<div class="container pdf-forms">
  <div class="row">
    <div class="col-12">
      {% for form in this.theme.forms  %}
        {% if form.active %}
          <bs4-accordion collapse-icon-src="{{ 'assets/iconset/arrow_carrot.svg' | theme }}" collapse-icon-size="38">
            <template title="{{ form.title }}">
              {{ form.content | raw}}
              <pdf-form-fields src="{{ form.pdf | media }}" worker-src="{{ 'assets/js/vendors.pdfjsWorker.bundle.js' | theme }}"></pdf-form-fields>
            </template>
          </bs4-accordion>
        {% endif %}
      {% endfor %}

      <form target="_blank" method="post" action="/form.pdf" {# action="/preview.html" #}>
          <div class="form-row">
            {% set form = 'Hypnose' %}
            {% for questionary in this.theme.questionaries %}
                {% if questionary.questionary_name == form %}
                    <div class="questions">
                        <div class="row">
                          <h2 class="col-12">{{ questionary.questionary_name}}</h2>
                        </div>
                        {% for question in questionary.questions %}
                          <div class="row">
                            {% set question_id = loop.index0 %}
                            {% set loop_id = 0 %}
                            {% if question.type_input == 'radiobox' %}
                                <div class="col-12">{{ question.radiobox_question_input }}</div>
                                {% for answering_option in question.radiobox_answering_options %}
                                    <div class="question-multiple-choice-option">
                                        <input type="radio" id="question-{{question_id}}-option-{{loop.index0}}" name="question-{{question_id}}" value="{{loop.index0}}"/>
                                        <label for="question-{{question_id}}-option-{{loop.index0}}">{{answering_option.answer_input}}</label>
                                        {% if answering_option.description_if_checked %}
                                            <input class="additional-text form-control" type="text" id="question-{{question_id}}-option-{{loop.index0}}-textinput" name="question-{{question_id}}-option-{{loop.index0}}-textinput"/>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% elseif question.type_input == 'checkbox' %}
                                <p class="question-text">{{ question.checkbox_question_input }}</p>

                                {% for answering_option in question.checkbox_answering_options %}
                                    <div class="question-multiple-choice-option">
                                        <input type="checkbox" id="question-{{question_id}}-option-{{loop.index0}}" name="question-{{question_id}}-option-{{loop.index0}}"/>
                                        <label for="question-{{question_id}}-option-{{loop.index0}}">{{answering_option.answer_input}}</label>
                                        {% if answering_option.description_if_checked %}
                                            <input class="additional-text form-control" type="text" id="question-{{question_id}}-option-{{loop.index0}}-textinput" name="question-{{question_id}}-option-{{loop.index0}}-textinput"/>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% elseif question.type_input == 'description' %}
                                <p>{{ question.description_input | raw }}</p>
                            {% elseif question.type_input == 'text_area' %}
                                <p class="question-text">{{ question.text_area_input }}</p>
                                <textarea class="form-control" name="question-{{question_id}}" rows="4"></textarea>
                            {% elseif question.type_input == 'scale_input' %}
                                <p class="question-text">{{ question.scale_input }}</p>
                                <input class= "form-control" name="question-{{question_id}}" type="range" min="1" max="10" steps="1" value="1">
                            {% elseif question.type_input == 'checkbox' %}
                            {% endif %}
                          </div>
                        {% endfor %}
                        <button class="submit" type="submit">Submit</button>
                    </div>
                {% endif %}
            {% endfor %}
          </div>
      </form>
    </div>
  </div>
</div>