.nav-item {
  &.active {
    > .nav-link {
      color: $link-hover-color;
    }
    
  }
}

.sidebar-container>.nav-item>.nav-link {
    font-size: 1.5rem;  
}

.dropdown-toggle::after { 
  float: right;
}

.sidebar-container>.nav-item>.open::after {
  transform: rotate(180deg);
}
.nav-link::after {
  transition: transform 0.4s;
}