bs4-slideshow {
  .slideshow-indicators {
    color: $title-color;
  }
  .slideshow-controls {
    &.slideshow-control-prev,
    &.slideshow-control-next {
      color: $title-color;
      &:hover {
        color: $title-color;
      }
    }
  }
}
