<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            ul {
                list-style-type: none;
                margin-bottom: 0;
                padding-bottom:0;
                margin-top: 0;
                padding-top:0;
            }
            li {
                display: inline;
                padding-right: 0.5rem;
            }
        </style>
    </head>
    <body>
    <ul>
        <li>Fachzentrum f&#xFC;r ursachenorientierte Hypnose</li>
    </ul>
    <ul>
        <li>Im Heidfeld 44</li>
        <li>27478 Cuxhaven</li>
        <li>Telefon 04723 - 7964157</li>
        <li><a href="mailto:kontakt@hypnosezentrum-cux.de">kontakt@hypnosezentrum-cux.de</li>
        <li><a href="hypnosezentrum-cux.de">hypnosezentrum-cux.de</li>
    </ul>
    </body>
</html>