[viewBag]
==
<div class="col-12">
    <span class="question-text">{{ question.checkbox_question_input }}</span>

    {% for answering_option in question.checkbox_answering_options %}
    <div class="row align-items-center">
        {% set key = 'question-' ~ question_id ~ '-option-' ~ loop.index0 %}
        <div class="col-6">
            <div class="checkbox-container">
                <div class="checkbox" id="question-{{question_id}}-option-{{loop.index0}}"
                    name="question-{{question_id}}-option-{{loop.index0}}" {% if data[key] == 'on' %}checked{%endif%}>
                </div>

                {{ answering_option.answer_input }}
            </div>
        </div>
        {% if answering_option.description_if_checked %}
        <div class="col-6">
            <p>{{ data['question-'~ question_id ~ '-option-' ~ loop.index0 ~ '-textinput'] }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>