<div class="col-12">{{ question.radiobox_question_input }}</div>
{% for answering_option in question.radiobox_answering_options %}
    <div class="col-12">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="checkbox">
                    <label>
                        {% set key = 'question-' ~ question_id %}
                        <input type="radio" {% if data[key] == loop.index0 %}checked{%endif%} />
                        {{answering_option.answer_input}}
                    </label>
                </div>
            </div>
            {% if answering_option.description_if_checked %}
                <div class="col-6">
                    <input
                        type="text"
                        id="question-{{question_id}}-option-{{loop.index0}}-textinput"
                        value="{{ data['question-'~ question_id ~ '-option-' ~ loop.index0 ~ '-textinput'] }}"
                    />
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}