<div class="col-12">
	<span class="h6">{{ question.radiobox_question_input }}</span>
</div>
{% for answering_option in question.radiobox_answering_options %}
<div class="col-12">
	<div class="row align-items-center my-2">
		<div class="col-6">
			<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="{{questionaire_prefix}}:question-{{question_id}}-option-{{loop.index0}}"
					name="question-{{question_id}}" value="{{loop.index0}}" />
				<label class="custom-control-label" for="{{questionaire_prefix}}:question-{{question_id}}-option-{{loop.index0}}">
					{{answering_option.answer_input}}
				</label>
			</div>
		</div>
		{% if answering_option.description_if_checked %}
		<div class="col-6">
			<input class="additional-text form-control form-control" type="text"
				id="question-{{question_id}}-option-{{loop.index0}}-textinput"
				name="question-{{question_id}}-option-{{loop.index0}}-textinput" />
		</div>
		{% endif %}
	</div>
</div>
{% endfor %}