<div class="col-12">
    <span class="question-text">{{ question.scale_input }}</span>
    <div class='scale-input-container'>
        <!-- <p class="question-text">{{ question.scale_input }}</p> -->

        <div class="input-frame">
            <input class="form-control scale-input" name="question-{{question_id}}" type="range" min="1" max="10"
                steps="1" value="1">
        </div>
        <ul class="range-labels">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
        </ul>

    </div>

</div>