
<div class="ml-4 col-12">
    <!-- <div class="col-12">{{ question.radiobox_question_input }}</div> -->
    <h6 class="col-12">{{ question.radiobox_question_input }}</h6>
    {% for answering_option in question.radiobox_answering_options %}
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-5 mt-3">
                    <input
                        type="radio"
                        id="question-{{question_id}}"
                        name="question-{{question_id}}"
                        value="{{loop.index0}}" />
                    <label
                        class="m-0"
                        for="question-{{question_id}}-option"
                    >
                        {{answering_option.answer_input}}
                    </label>
                    <!-- <h6 class="m-0">
                        {{answering_option.answer_input}}
                    </h6> -->
                </div>
                {% if answering_option.description_if_checked %}
                    <div class="col-6">
                        <input
                            class="additional-text form-control form-control"
                            type="text"
                            id="question-{{question_id}}-option-{{loop.index0}}-textinput"
                            name="question-{{question_id}}-option-{{loop.index0}}-textinput"
                        />
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>