[staticPage]
useContent = 1
default = 0

[seoTags]

[contenteditor]
==
<?php
function onStart()
{
    $PDF_FORMS_JSON_PATH = './themes/hypnose-october-theme/assets/pdf_forms.json.js'; // Append .js to make it openable in october backend

    // Store pdf forms from theme settings as json
    // $pdf_forms = $this->theme->pdf_forms;
    // file_put_contents($PDF_FORMS_JSON_PATH, json_encode($pdf_forms));
    
    // Load pdf forms from json to twig
    // $pdf_forms_json_str = file_get_contents($PDF_FORMS_JSON_PATH, true);
    // $pdf_forms = json_decode($pdf_forms_json_str);
    // $this['pdf_forms'] = $pdf_forms;
}


function onContactFormSubmit()
{
    $inputsToFill = array('contactReason', 'contactMessage', 'contactRecallDay', 'contactLastname', 'contactFirstname', 'contactMail', 'contactPhone', 'contactRecallTime', 'contactAgreement');
    $checkboxGroupPrefixes = array('contactRecallDay', 'contactRecallTime');
 
    $rules = [
        'contactMail' => 'required|email|between:6,255',
        'contactPhone' => 'required|between:4,255',
        'g-recaptcha-response' => 'required'
    ];

    $values = post();
    
    //validate input
    $validation = Validator::make($values, $rules);
    if ($validation->fails()) {
        $this->page['result'] = "Eingaben waren fehlerhaft.";
        throw new ValidationException($validation);
    }

    $data = array(
        'secret' => "6Le8Sh4aAAAAALp1zrjjJoFnPrr8Ji40MZxwXJQM",
        'response' => $values['g-recaptcha-response']
    );

    $verify = curl_init();
    curl_setopt($verify, CURLOPT_URL, "https://www.google.com/recaptcha/api/siteverify");
    curl_setopt($verify, CURLOPT_POST, true);
    curl_setopt($verify, CURLOPT_POSTFIELDS, http_build_query($data));
    curl_setopt($verify, CURLOPT_RETURNTRANSFER, true);
    $response = curl_exec($verify);
    $responseData = json_decode($response);
    
    if(!$responseData->success) {
        $this->page['result'] = "Fehler beim Captcha";
        throw new AjaxException([
            'error' => 'Fehler beim Captcha'
        ]);
    } 

    //join checkbox groups
    foreach ($checkboxGroupPrefixes as &$prefix) { //contactRecallDay
        $tempValues = array();
        foreach (array_keys($values) as $value) {
            if(strpos($value, $prefix) === 0) { //
                $tempValues[] = $values[$value];
                unset($values[$value]);
            }
        }   
        if(count($tempValues) > 0) {
            $values[$prefix] = join(", ", $tempValues);
        }
    }

    //fill missing inputs with default string
    foreach ($inputsToFill as &$inputName) {
        if(!isset($values[$inputName])) {
            $values[$inputName] = 'Nicht angegeben.';    
        }
    }

    //build $from from given values
    if(Input::has('contactFirstname') && Input::has('contactLastname')) {
        $from = $values['contactFirstname'] . ' ' . $values['contactLastname'];
    } else if(Input::has('contactFirstname')) {
        $from = $values['contactFirstname'];
    } else if(Input::has('contactLastname')) {
        $from = $values['contactLastname'];
    }

    //autocomplete
    //email adresse in theme settings
    //oc-form in strandhus samt backend?


    $buildOwnerMessage = function ($message) use ($values) {
        $admin_mail = $this->theme->contact_admin_mail;
        $admin_name = $this->theme->contact_admin_name;
        $message->to($admin_mail, $admin_name);
        $message->replyTo($values['contactMail'], $name = null);
        if(isset($from)) {
            $message->subject("Neue Anfrage von " . $from . " (" . $values['contactMail'] . ")");
        } else {
            $message->subject("Neue Anfrage von " . $values['contactMail']);
        }
    };
    
    $buildSenderMessage = function ($message) use ($values) {
        if(isset($from)) {
            $message->to($values['contactMail'], $from);
        } else {
            $message->to($values['contactMail']);
        }
    };

    // mail to site owner
    Mail::send('owner', $values, $buildOwnerMessage);
    
    // mail to contact sender
    Mail::send('sender', $values, $buildSenderMessage);
    
    Log::info('Used contact from user: '.$values['contactFirstname'].' '.$values['contactLastname'].' ('.$values['contactMail'].')');
    

    // TODO catch errors
    return "Nachricht erfolgreich abgeschickt!";  
}
?>
==
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ this.page.title }}</title>

    {% component 'seoTags' %}
    {% partial 'favicons' %}

    {% styles %}
    {# <link href="{{ ['assets/scss/theme.scss'] | theme }}" rel="stylesheet"> #}
    <link href="{{ ['assets/css/theme.css'] | theme }}" rel="stylesheet">

<body rv-data-scroll-position-y="'window'">
    <div class="page-border"></div>
    <div id="main-container">
        <div id="layout-top">
            {% partial 'layout-top' %}
        </div>
        <router-view id="main" listen-all-links="true" dataset-to-model="true">
            <div {% partial 'router-dataset' %}>
                {% if placeholder('headerTeaser') %}
                <div class="page-header-teaser">
                    {% placeholder headerTeaser title="Header Teaser" %}
                </div>
                {% endif %}
                {% if placeholder('header') %}
                <div class="page-header-container d-flex justify-content-end flex-column align-items-start">
                    {% placeholder header title="Header Title" %}
                </div>
                {% endif %}
                {% page %}
                {#% component 'staticPage' %#}
            </div>
        </router-view>
        <div id="layout-bottom">
            {% partial 'layout-bottom' %}
        </div>
        <hpn-cookies>
        </hpn-cookies>
        <bs4-notification-container position-class="absolute-bottom absolute-center">
        </bs4-notification-container>
    </div>
    {% partial 'outdated-browser' %}

    <script type="text/javascript" src="{{ 'assets/js/vendors.bundle.js' | theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/main.bundle.js' | theme }}"></script>
    {% framework %}
    {% scripts %}

    {% partial 'provenexpert_widget_portrait' %}
</body>
</head>

</html>