[staticPage]
useContent = 1
default = 0

[seoTags]

[contenteditor]
==
<?php
function onContactFormSubmit()
{
    $inputs = array('contactReason', 'contactSelectApplication', 'contactMessage', 'contactLastname', 'contactFirstname', 'contactMail', 'contactPhone', 'contactRecallTime', 'contactAgreement');
    foreach ($inputs as &$inputName) {
        $values[$inputName] = '';
        $values[$inputName] = input($inputName);

        if(Input::has($inputName))
    }

    
    $buildOwnerMessage = function ($message) use ($values) {
        // TODO use email and name from backend or theme settings
        // $message->to('info@thp-garber.de', 'Viola Garber');
        $message->to('daniel@artandcode.studio', 'Daniel Omran');
        // $message->from($values['contactMail'], $values['contactFirstname']. ' ' . $values['contactLastname']);
        $message->subject("Neue Anfrage von ".$values['contactFirstname']. ' ' . $values['contactLastname']);
    };
    
    $buildSenderMessage = function ($message) use ($values) {
        if(Input::has('contactFirstname') && Input::has('')) {
            $message->to($values['contactMail'], $values['contactFirstname']. ' ' . $values['contactLastname']);
        } else if(Input::)
    };

    // mail to site owner
    Mail::send('owner', $values, $buildOwnerMessage);
    
    // mail to contact sender
    Mail::send('sender', $values, $buildSenderMessage);
    
    Log::info('Used contact from user: '.$values['contactFirstname'].' '.$values['contactLastname'].' ('.$values['contactMail'].')');
    

    // TODO catch errors
    $this->page['result'] = "Nachricht abgeschickt";
    
}
?>
==
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <title>{{ this.page.title }}</title>
    
    {% component 'seoTags' %}
    {% partial 'favicons' %}

    {% styles %}
    <link href="{{ ['assets/scss/theme.scss'] | theme }}" rel="stylesheet">

    <body rv-data-scroll-position-y="'window'">
        <div class="page-border"></div>
        <div id="main-container">
            <div id="layout-top">
                {% partial 'layout-top' %}
            </div>
            <div id="main" rv-view="{'listenAllLinks': true, 'datasetToModel': true}">
                <div {% partial 'router-dataset' %}>
                    {% if placeholder('headerTeaser') %}
                    <div class="page-header-teaser">
                        {% placeholder headerTeaser title="Header Teaser" %}
                    </div>
                    {% endif %}
                    {% if placeholder('header') %}
                        <div class="page-header-container d-flex justify-content-end flex-column align-items-start">
                            {% placeholder header title="Header Title" %}
                        </div>
                    {% endif %}
                    {# {% page %} #}
                    {% component 'staticPage' %}
                </div>
            </div>
            <div id="layout-bottom">
                {% partial 'layout-bottom' %}
            </div>
        </div>
        
        {% partial 'outdated-browser' %}
        
        <script type="text/javascript" src="{{ 'assets/js/vendors.bundle.js' | theme }}"></script>
        <script type="text/javascript" src="{{ 'assets/js/main.bundle.js' | theme }}"></script>
        {% framework %}
        {% scripts %}
        
        {% partial 'provenexpert_widget_portrait' %}
        
    </body>
</head>

</html>
