textarea,
input[type="text"] {
  width: 100%;
}

$size: 10px;
$fontSize: 20px;

.checkbox[checked] {
  background-color: $body-color;
}

.checkbox {
  height: $size;
  width: $size;
  display: inline-block;
  border: solid $body-color 1px;
  border-radius: 3px;
  margin-right: 3px;
}

.checkbox-container,
.radiobox-container {
  span {
    font-size: 1.125rem;
    vertical-align: text-bottom;
    top: -3px;
  }
}

.radiobox {
  @extend .checkbox;
  border-radius: 20px;
}

.question-text {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
  color: #b79563;
}

hr {
  height: 1px;
  border: none;
  box-shadow: none;
  background-color: #b79563;
  margin: 0;
}

.h4 {
  color: #b79563;
}