.header, .footer {
    width: 100%;
    height: 10rem;
    background-color: black;
}
/*

.header {
    top: 0;
}

.footer {
    bottom: 0;
}

.container {
    position: absolute;
    top: 10rem;
    bottom: 10rem;
}

@page {
  size: A4;
  //margin: 11rem 17rem 17rem 17rem;
}*/
